<html>
    <header>
        <!-- khai báo css -->
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="layout.css">

        <!-- khai báo jquery -->
        <script src="bootstrap.min.js"></script>
        <script src="jquery.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script src="xuly.js"></script>
    </header>
    <body>
        <h1>Cài đặt view ở đây</h1>
    </body>
</html>